
/*
 * Estilos de tu proyecto
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.71429;
  background-color: #fff;
  color: black;
  width: 100%;
}
a{
  text-decoration: none;
  color: #fff;
}
#nav{
  background-color: #18BC9C;
  width: 100%;
  position: fixed;

}
nav :first-child{
  text-align: left;
  margin-left: 2%;
}
.col-4>img{
  width: 100%;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.bg-aqua{
  background-color: #18BC9C;
}
hr{
  width: 25%;
}
form{
  margin: 10%;
}
input, textarea{
  border: none;
  border-bottom: solid 1px;
  width: 100%;
}
#send{
  width: 10%;
  height: 35px;
  margin-top: 2%;
  margin-left: 5%;
}
